<h1>Welcome to Prost</h1>

<p>With Prost you can pay for the drinks at your coworking space through cobot.</p>

<p><%= link_to 'Sign in', "/auth/cobot", class: 'btn' %> with your cobot account.</p>

<p>Prost is based on <a href="http://cobot.me">cobot</a> and only works with a cobot account.</p>
